In [92]:
import pandas as pd
import numpy as np

df = pd.read_csv("IMDB top 1000.csv")
df.shape

(1000, 10)

In [93]:
df.head(1)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"

In [94]:
# Top 3 generes types movies that earn lots revenue

genre = df.groupby("Genre")
genre.sum()["Info"].sort_values(ascending=False).head(3)   #
genre["Info"].sum().sort_values(ascending=False).head(3)   # this is more better phle column then sum

Genre
Biography, Crime, Drama     Votes: 999,623 | Gross: $46.84MVotes: 1,152,70...
Action, Crime, Thriller     Votes: 983,871 | Gross: $70.10MVotes: 112,723 ...
Crime, Mystery, Thriller    Votes: 975,320 | Gross: $23.34MVotes: 140,682 ...
Name: Info, dtype: object

In [95]:
df.groupby("Genre")["Rate"].mean().sort_values(ascending=False).head(10)

Genre
Drama, Family, Fantasy          8.600000
Action, Sci-Fi                  8.600000
Crime, Drama, Fantasy           8.600000
Western                         8.533333
Horror, Mystery, Thriller       8.500000
Animation, Drama, War           8.500000
Drama, Romance, War             8.500000
Drama, Musical                  8.500000
Animation, Adventure, Family    8.400000
Animation, Drama, Fantasy       8.400000
Name: Rate, dtype: float64

In [96]:
# Top directors with high metascores 

df.groupby("Cast")["Metascore"].sum().sort_values(ascending=False).head(3)

Cast
Directors: Victor Fleming, George Cukor, Sam Wood | Stars: Clark Gable, Vivien Leigh, Thomas Mitchell, Barbara O'Neil    679.0
Director: Carol Reed | Stars: Orson Welles, Joseph Cotten, Alida Valli, Trevor Howard                                    679.0
Director: Ernst Lubitsch | Stars: Margaret Sullavan, James Stewart, Frank Morgan, Joseph Schildkraut                     672.0
Name: Metascore, dtype: float64

In [97]:

df.groupby("Genre")["Rate"].max().sort_values(ascending=False).head(5)

Genre
Drama                        9.3
Crime, Drama                 9.2
Action, Crime, Drama         9.0
Biography, Drama, History    8.9
Action, Adventure, Drama     8.9
Name: Rate, dtype: float64

In [98]:
df.groupby("Cast")["Metascore"].count().sort_values(ascending=False).head(5)
# df.value_counts("Cast").sort_values(ascending=False)

Cast
Director: Martin Campbell | Stars: Daniel Craig, Eva Green, Judi Dench, Jeffrey Wright                    7
Director: Hirokazu Koreeda | Stars: Lily Franky, Sakura And√¥, Kirin Kiki, Mayu Matsuoka                   7
Director: Darren Aronofsky | Stars: Natalie Portman, Mila Kunis, Vincent Cassel, Winona Ryder             7
Director: Garth Davis | Stars: Dev Patel, Nicole Kidman, Rooney Mara, Sunny Pawar                         7
Director: Thomas Vinterberg | Stars: Ulrich Thomsen, Henning Moritzen, Thomas Bo Larsen, Paprika Steen    7
Name: Metascore, dtype: int64

In [99]:

len(df.groupby("Genre"))
# df.groupby("Genre").nunique()

130

In [100]:
# Returns Row from each 

df.groupby("Genre").size()

Genre
Action, Adventure              4
Action, Adventure, Comedy     29
Action, Adventure, Drama      13
Action, Adventure, Fantasy    10
Action, Adventure, Sci-Fi     12
                              ..
Horror, Sci-Fi                 1
Mystery, Romance, Thriller     1
Mystery, Sci-Fi, Thriller      7
Mystery, Thriller              4
Western                        3
Length: 130, dtype: int64

In [101]:
 
# df.groupby("Genre").first(5) 
# df.groupby("Genre").last(5) 
df.groupby("Genre").nth(5)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
53,53,54. Capernaum (2018),R,126 min,Drama,8.4,75.0,While serving a five-year sentence for a viole...,Director: Nadine Labaki | Stars: Zain Al Rafee...,"Votes: 56,305 | Gross: $1.66M"
58,58,59. Avengers: Endgame (2019),PG-13,181 min,"Action, Adventure, Drama",8.4,78.0,After the devastating events of Avengers: Infi...,"Directors: Anthony Russo, Joe Russo | Stars: R...","Votes: 772,451 | Gross: $858.37M"
70,70,71. Once Upon a Time in America (1984),R,229 min,"Crime, Drama",8.4,NaN,A former Prohibition-era Jewish gangster retur...,Director: Sergio Leone | Stars: Robert De Niro...,"Votes: 304,974 | Gross: $5.32M"
155,155,156. Downfall (2004),R,156 min,"Biography, Drama, History",8.2,82.0,"Traudl Junge, the final secretary for Adolf Hi...",Director: Oliver Hirschbiegel | Stars: Bruno G...,"Votes: 326,660 | Gross: $5.51M"
160,160,161. L.A. Confidential (1997),R,138 min,"Crime, Drama, Mystery",8.2,90.0,"As corruption grows in 1950s Los Angeles, thre...","Director: Curtis Hanson | Stars: Kevin Spacey,...","Votes: 524,506 | Gross: $64.62M"
161,161,162. The Bandit (1996),NaN,128 min,"Crime, Drama, Thriller",8.2,NaN,"Baran the Bandit, released from prison after 3...","Director: Yavuz Turgul | Stars: Sener Sen, Ugu...","Votes: 62,585"
178,178,179. Judgment at Nuremberg (1961),Approved,179 min,"Drama, War",8.2,NaN,"In 1948, an American court in occupied Germany...",Director: Stanley Kramer | Stars: Spencer Trac...,"Votes: 68,064"
226,226,229. Elite Squad (2007),R,115 min,"Action, Crime, Drama",8.1,NaN,"In 1997 Rio de Janeiro, Captain Nascimento has...","Director: Jos√© Padilha | Stars: Wagner Moura, ...","Votes: 97,007 | Gross: $0.01M"
236,236,239. Dil Chahta Hai (2001),Not Rated,183 min,"Comedy, Drama, Romance",8.1,NaN,Three inseparable childhood friends are just o...,"Director: Farhan Akhtar | Stars: Aamir Khan, S...","Votes: 65,835 | Gross: $0.30M"
238,238,241. Finding Nemo (2003),G,100 min,"Animation, Adventure, Comedy",8.1,90.0,After his son is captured in the Great Barrier...,"Directors: Andrew Stanton, Lee Unkrich | Stars...","Votes: 933,762 | Gross: $380.84M"
248,248,251. In the Mood for Love (2000),PG,98 min,"Drama, Romance",8.1,85.0,"Two neighbors, a woman and a man, form a stron...",Director: Kar-Wai Wong | Stars: Tony Chiu-Wai ...,"Votes: 120,591 | Gross: $2.73M"
309,309,312. Mr. Smith Goes to Washington (1939),Passed,129 min,"Comedy, Drama",8.1,73.0,A naive man is appointed to fill a vacancy in ...,"Director: Frank Capra | Stars: James Stewart, ...","Votes: 105,195 | Gross: $9.60M"
352,352,355. The Avengers (2012),PG-13,143 min,"Action, Adventure, Sci-Fi",8.0,69.0,Earth's mightiest heroes must come together an...,Director: Joss Whedon | Stars: Robert Downey J...,"Votes: 1,246,498 | Gross: $623.28M"
354,354,357. Dallas Buyers Club (2013),R,117 min,"Biography, Drama",8.0,80.0,"In 1985 Dallas, electrician and hustler Ron Wo...",Director: Jean-Marc Vall√©e | Stars: Matthew Mc...,"Votes: 432,916 | Gross: $27.30M"
381,381,384. Mulholland Drive (2001),R,147 min,"Drama, Mystery, Thriller",8.0,85.0,After a car wreck on the winding Mulholland Dr...,"Director: David Lynch | Stars: Naomi Watts, La...","Votes: 315,529 | Gross: $7.22M"
414,414,317. The Circus (1928),Passed,72 min,"Comedy, Romance",8.1,90.0,The Tramp finds work and the girl of his dream...,Director: Charles Chaplin | Stars: Charles Cha...,"Votes: 28,513"
416,416,319. The General (1926),Passed,67 min,"Action, Adventure, Comedy",8.1,NaN,When Union spies steal an engineer's beloved l...,"Directors: Clyde Bruckman, Buster Keaton | Sta...","Votes: 79,467 | Gross: $1.03M"
451,451,354. Black Swan (2010),R,108 min,"Drama, Thriller",8.0,79.0,A committed dancer struggles to maintain her s...,Director: Darren Aronofsky | Stars: Natalie Po...,"Votes: 689,512 | Gross: $106.95M"
486,486,389. The Iron Giant (1999),PG,86 min,"Animation, Action, Adventure",8.0,85.0,A young boy befriends a giant robot from outer...,"Director: Brad Bird | Stars: Eli Marienthal, H...","Votes: 169,363 | Gross: $23.16M"
502,502,305. The Wages of Fear (1953),Not Rated,131 min,"Adventure, Drama, Thriller",8.1,85.0,"In a decrepit South American village, four men...",Director: Henri-Georges Clouzot | Stars: Yves ...,"Votes: 53,438"
522,522,325. Airlift (2016),Not Rated,130 min,"Drama, History",8.0,NaN,"When Iraq invades Kuwait in August 1990, a cal...","Director: Raja Menon | Stars: Akshay Kumar, Ni...","Votes: 52,177"
530,530,333. Wonder (I) (2017),PG,113 min,"Drama, Family",8.0,66.0,"Based on the New York Times bestseller, this m...",Director: Stephen Chbosky | Stars: Jacob Tremb...,"Votes: 136,402 | Gross: $132.42M"
533,533,336. The Raid 2 (2014),R,150 min,"Action, Crime, Thriller",8.0,71.0,"Only a short time after the first raid, Rama g...","Director: Gareth Evans | Stars: Iko Uwais, Yay...","Votes: 112,723 | Gross: $2.63M"
547,547,350. Ip Man (2008),R,106 min,"Action, Biography, Drama",8.0,NaN,"During the Japanese invasion of China, a wealt...","Director: Wilson Yip | Stars: Donnie Yen, Simo...","Votes: 209,063"
571,571,374. Pirates of the Caribbean: The Curse of th...,PG-13,143 min,"Action, Adventure, Fantasy",8.0,63.0,Blacksmith Will Turner teams up with eccentric...,"Director: Gore Verbinski | Stars: Johnny Depp,...","Votes: 1,004,943 | Gross: $305.41M"
603,603,306. Ace in the Hole (1951),Approved,111 min,"Drama, Film-Noir",8.1,72.0,A frustrated former big-city journalist now st...,"Director: Billy Wilder | Stars: Kirk Douglas, ...","Votes: 30,824 | Gross: $3.97M"
608,608,311. Rebecca (1940),Approved,130 min,"Drama, Mystery, Romance",8.1,86.0,A self-conscious woman juggles adjusting to he...,Director: Alfred Hitchcock | Stars: Laurence O...,"Votes: 120,476 | Gross: $4.36M"
621,621,324. Togo (2019),PG,113 min,"Adventure, Biography, Drama",8.0,69.0,"The story of Togo, the sled dog who led the 19...","Director: Ericson Core | Stars: Willem Dafoe, ...","Votes: 32,633"
629,629,332. The Tale of The Princess Kaguya (2013),PG,137 min,"Animation, Adventure, Drama",8.0,89.0,Found inside a shining stalk of bamboo by an o...,Director: Isao Takahata | Stars: Chlo√´ Grace M...,"Votes: 37,070 | Gross: $1.51M"
636,636,339. Blade Runner 2049 (2017),R,164 min,"Action, Drama, Mystery",8.0,81.0,Young Blade Runner K's discovery of a long-bur...,Director: Denis Villeneuve | Stars: Harrison F...,"Votes: 447,374 | Gross: $92.05M"
659,659,362. Sin City (2005),R,124 min,"Crime, Thriller",8.0,74.0,A movie that explores the dark and miserable t...,"Directors: Frank Miller, Quentin Tarantino, Ro...","Votes: 734,727 | Gross: $74.10M"
677,677,380. Donnie Darko (2001),R,113 min,"Drama, Mystery, Sci-Fi",8.0,88.0,"After narrowly escaping a bizarre accident, a ...",Director: Richard Kelly | Stars: Jake Gyllenha...,"Votes: 731,386 | Gross: $1.48M"
700,700,303. The Bridge on the River Kwai (1957),PG,161 min,"Adventure, Drama, War",8.1,87.0,British POWs are forced to build a railway bri...,"Director: David Lean | Stars: William Holden, ...","Votes: 200,215 | Gross: $44.91M"
706,706,309. The Red Shoes (1948),Not Rated,135 min,"Drama, Music, Romance",8.1,NaN,A young ballet dancer is torn between the man ...,"Directors: Michael Powell, Emeric Pressburger ...","Votes: 30,229 | Gross: $10.90M"
710,710,313. Gone with the Wind (1939),Passed,238 min,"Drama, History, Romance",8.1,97.0,A manipulative woman and a roguish man conduct...,"Directors: Victor Fleming, George Cukor, Sam W...","Votes: 285,661 | Gross: $198.68M"
724,724,327. Baby (I) (2015),Not Rated,159 min,"Action, Thriller",8.0,NaN,An elite counter-intelligence unit learns of a...,"Director: Neeraj Pandey | Stars: Akshay Kumar,...","Votes: 52,028"
727,727,330. The Martian (2015),PG-13,144 min,"Adventure, Drama, Sci-Fi",8.0,80.0,An astronaut becomes stranded on Mars after hi...,"Director: Ridley Scott | Stars: Matt Damon, Je...","Votes: 746,037 | Gross: $228.43M"
737,737,340. Her (2013),R,126 min,"Drama, Romance, Sci-Fi",8.0,90.0,"In a near future, a lonely writer develops an ...",Director: Spike Jonze | Stars: Joaquin Phoenix...,"Votes: 528,591 | Gross: $25.57M"
738,738,341. Bohemian Rhapsody (2018),PG-13,134 min,"Biography, Drama, Music",8.0,NaN,The story of the legendary British rock band Q...,"Director: Bryan Singer | Stars: Rami Malek, Lu...","Votes: 437,959 | Gross: $216.43M"
749,749,352. The Breath (2009),NaN,128 min,"Action, Drama, Thriller",8.0,NaN,Story of 40-man Turkish task force who must de...,Director: Levent Semerci | Stars: Mete Horozog...,"Votes: 31,368"
761,761,364. G.O.R.A. (2004),NaN,127 min,"Adventure, Comedy, Sci-Fi",8.0,NaN,A slick young Turk kidnapped by extraterrestri...,Director: √ñmer Faruk Sorak | Stars: Cem Yilmaz...,"Votes: 55,570"
772,772,375. Big Fish (2003),PG-13,125 min,"Adventure, Drama, Fantasy",8.0,NaN,A frustrated son tries to determine the fact f...,"Director: Tim Burton | Stars: Ewan McGregor, A...","Votes: 410,478 | Gross: $66.26M"
792,792,395. The Nightmare Before Christmas (1993),PG,76 min,"Animation, Family, Fantasy",8.0,82.0,"Jack Skellington, king of Halloween Town, disc...","Director: Henry Selick | Stars: Danny Elfman, ...","Votes: 288,364 | Gross: $75.08M"
805,805,308. The Third Man (1949),Approved,93 min,"Film-Noir, Mystery, Thriller",8.1,97.0,Pulp novelist Holly Martins travels to shadowy...,"Director: Carol Reed | Stars: Orson Welles, Jo...","Votes: 156,370 | Gross: $0.45M"
817,817,320. The Cabinet of Dr. Caligari (1920),Not Rated,67 min,"Fantasy, Horror, Mystery",8.1,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce...","Director: Robert Wiene | Stars: Werner Krauss,...","Votes: 56,194"
825,825,328. La La Land (2016),PG-13,128 min,"Comedy, Drama, Music",8.0,94.0,"While navigating their careers in Los Angeles,...",Director: Damien Chazelle | Stars: Ryan Goslin...,"Votes: 492,411 | Gross: $151.10M"
834,834,337. The Imitation Game (2014),PG-13,114 min,"Biography, Drama, Thriller",8.0,73.0,"During World War II, the English mathematical ...",Director: Morten Tyldum | Stars: Benedict Cumb...,"Votes: 672,577 | Gross: $91.13M"
853,853,356. Persepolis (2007),PG-13,96 min,"Animation, Biography, Drama",8.0,90.0,A precocious and outspoken Iranian girl grows ...,"Directors: Vincent Paronnaud, Marjane Satrapi ...","Votes: 87,487 | Gross: $4.45M"
857,857,360. The Bourne Ultimatum (2007),PG-13,115 min,"Action, Mystery, Thriller",8.0,85.0,Jason Bourne dodges a ruthless C.I.A. official...,"Director: Paul Greengrass | Stars: Matt Damon,...","Votes: 599,314 | Gross: $227.47M"
858,858,361. 3-Iron (2004),R,88 min,"Crime, Drama, Romance",8.0,72.0,A transient young man breaks into empty homes ...,"Director: Ki-duk Kim | Stars: Seung-Yun Lee, H...","Votes: 49,242 | Gross: $0.24M"
863,863,366. Casino Royale (2006),PG-13,144 min,"Action, Adventure, Thriller",8.0,80.0,"After earning 00 status and a licence to kill,...",Director: Martin Campbell | Stars: Daniel Crai...,"Votes: 573,813 | Gross: $167.45M"
880,880,383. Dancer in the Dark (2000),R,140 min,"Crime, Drama, Musical",8.0,61.0,An East European girl travels to the United St...,"Director: Lars von Trier | Stars: Bj√∂rk, Cathe...","Votes: 100,634 | Gross: $4.18M"
883,883,386. Perfect Blue (1997),R,81 min,"Animation, Crime, Mystery",8.0,NaN,A pop singer gives up her career to become an ...,"Director: Satoshi Kon | Stars: Junko Iwao, Ric...","Votes: 55,329 | Gross: $0.78M"
887,887,390. Knockin' on Heaven's Door (1997),Not Rated,87 min,"Action, Crime, Comedy",8.0,NaN,Two terminally ill patients escape from a hosp...,"Director: Thomas Jahn | Stars: Til Schweiger, ...","Votes: 27,227 | Gross: $0.00M"
890,890,393. 12 Monkeys (1995),R,129 min,"Mystery, Sci-Fi, Thriller",8.0,74.0,"In a future world devastated by disease, a con...","Director: Terry Gilliam | Stars: Bruce Willis,...","Votes: 571,158 | Gross: $57.14M"
891,891,394. Ghost in the Shell (1995),TV-MA,83 min,"Animation, Action, Crime",8.0,76.0,A cyborg policewoman and her partner hunt a my...,"Director: Mamoru Oshii | Stars: Atsuko Tanaka,...","Votes: 126,538 | Gross: $0.52M"
893,893,396. Groundhog Day (1993),PG,101 min,"Comedy, Fantasy, Romance",8.0,72.0,A weatherman finds himself inexplicably living...,"Director: Harold Ramis | Stars: Bill Murray, A...","Votes: 571,642 | Gross: $70.91M"
897,897,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"

In [102]:
df.groupby("Genre").get_group("Drama")

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
9,9,10. Fight Club (1999),R,139 min,Drama,8.8,66.0,An insomniac office worker and a devil-may-car...,"Director: David Fincher | Stars: Brad Pitt, Ed...","Votes: 1,820,268 | Gross: $37.03M"
18,18,19. One Flew Over the Cuckoo's Nest (1975),R,133 min,Drama,8.7,83.0,A criminal pleads insanity and is admitted to ...,Director: Milos Forman | Stars: Jack Nicholson...,"Votes: 901,247 | Gross: $112.00M"
39,39,40. American History X (1998),R,119 min,Drama,8.5,62.0,A former neo-nazi skinhead tries to prevent hi...,"Director: Tony Kaye | Stars: Edward Norton, Ed...","Votes: 1,020,014 | Gross: $6.72M"
44,44,45. Cinema Paradiso (1988),R,155 min,Drama,8.5,80.0,A filmmaker recalls his childhood when falling...,Director: Giuseppe Tornatore | Stars: Philippe...,"Votes: 225,330 | Gross: $11.99M"
...,...,...,...,...,...,...,...,...,...,...
984,984,387. The Celebration (1998),R,105 min,Drama,8.0,82.0,"At Helge's 60th birthday party, some unpleasan...",Director: Thomas Vinterberg | Stars: Ulrich Th...,"Votes: 76,840 | Gross: $1.65M"
985,985,388. Central Station (1998),R,110 min,Drama,8.0,80.0,"An emotive journey of a former school teacher,...",Director: Walter Salles | Stars: Fernanda Mont...,"Votes: 35,717 | Gross: $5.60M"
988,988,391. Sling Blade (1996),R,135 min,Drama,8.0,84.0,"Karl Childers, a simple man hospitalized since...",Director: Billy Bob Thornton | Stars: Billy Bo...,"Votes: 86,021 | Gross: $24.48M"
995,995,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
998,998,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"

In [103]:
df.groupby("Genre").sample(2,replace=True)

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
153,153,154. Batman Begins (2005),PG-13,140 min,"Action, Adventure",8.2,70.0,"After training with his mentor, Batman begins ...",Director: Christopher Nolan | Stars: Christian...,"Votes: 1,287,216 | Gross: $206.85M"
153,153,154. Batman Begins (2005),PG-13,140 min,"Action, Adventure",8.2,70.0,"After training with his mentor, Batman begins ...",Director: Christopher Nolan | Stars: Christian...,"Votes: 1,287,216 | Gross: $206.85M"
423,423,326. Bajrangi Bhaijaan (2015),Not Rated,163 min,"Action, Adventure, Comedy",8.0,NaN,An Indian man with a magnanimous heart takes a...,"Director: Kabir Khan | Stars: Salman Khan, Har...","Votes: 70,525 | Gross: $8.18M"
335,335,338. Guardians of the Galaxy (2014),PG-13,121 min,"Action, Adventure, Comedy",8.0,76.0,A group of intergalactic criminals must pull t...,"Director: James Gunn | Stars: Chris Pratt, Vin...","Votes: 1,028,841 | Gross: $333.18M"
439,439,342. The Revenant (2015),R,156 min,"Action, Adventure, Drama",8.0,76.0,A frontiersman on a fur trading expedition in ...,Director: Alejandro G. I√±√°rritu | Stars: Leona...,"Votes: 690,094 | Gross: $183.64M"
...,...,...,...,...,...,...,...,...,...,...
990,990,393. 12 Monkeys (1995),R,129 min,"Mystery, Sci-Fi, Thriller",8.0,74.0,"In a future world devastated by disease, a con...","Director: Terry Gilliam | Stars: Bruce Willis,...","Votes: 571,158 | Gross: $57.14M"
215,215,218. Kahaani (2012),Not Rated,122 min,"Mystery, Thriller",8.1,NaN,A pregnant woman's search for her missing husb...,"Director: Sujoy Ghosh | Stars: Vidya Balan, Pa...","Votes: 56,842 | Gross: $1.04M"
79,79,80. Rear Window (1954),PG,112 min,"Mystery, Thriller",8.4,100.0,A wheelchair-bound photographer spies on his n...,Director: Alfred Hitchcock | Stars: James Stew...,"Votes: 435,967 | Gross: $36.76M"
48,48,49. Once Upon a Time in the West (1968),PG-13,165 min,Western,8.5,80.0,A mysterious stranger with a harmonica joins f...,"Director: Sergio Leone | Stars: Henry Fonda, C...","Votes: 297,767 | Gross: $5.32M"
12,12,"13. The Good, the Bad and the Ugly (1966)",R,178 min,Western,8.8,90.0,A bounty hunting scam joins two men in an unea...,Director: Sergio Leone | Stars: Clint Eastwood...,"Votes: 677,184 | Gross: $6.10M"

In [104]:

df.groupby("Genre").nunique()

,Unnamed: 0,Title,Certificate,Duration,Rate,Metascore,Description,Cast,Info
Genre,,,,,,,,,
"Action, Adventure",4,4,2,4,2,4,4,4,4
"Action, Adventure, Comedy",29,5,4,5,3,2,5,5,5
"Action, Adventure, Drama",13,7,3,7,7,7,7,7,7
"Action, Adventure, Fantasy",10,4,2,4,4,3,4,4,4
"Action, Adventure, Sci-Fi",12,6,2,6,5,5,6,6,6
...,...,...,...,...,...,...,...,...,...
"Horror, Sci-Fi",1,1,1,1,1,1,1,1,1
"Mystery, Romance, Thriller",1,1,1,1,1,1,1,1,1
"Mystery, Sci-Fi, Thriller",7,1,1,1,1,1,1,1,1
"Mystery, Thriller",4,4,3,4,3,3,4,4,4
Western,3,3,2,3,3,3,3,3,3

In [105]:
# Diff aggregate function in diff 

df.groupby("Genre").agg({
    "Duration" : ["max" , 'min'],
    "Rate" : "mean",
    "Info" : "sum",
})

                           Duration               Rate  \
                                max      min      mean
Genre
Action, Adventure           164 min  115 min  8.300000
Action, Adventure, Comedy    67 min  108 min  8.031034
Action, Adventure, Drama    207 min  155 min  8.300000
Action, Adventure, Fantasy  143 min  121 min  8.160000
Action, Adventure, Sci-Fi   149 min  120 min  8.141667
...                             ...      ...       ...
Horror, Sci-Fi              117 min  117 min  8.400000
Mystery, Romance, Thriller  128 min  128 min  8.300000
Mystery, Sci-Fi, Thriller   129 min  129 min  8.000000
Mystery, Thriller           138 min  112 min  8.275000
Western                     178 min  132 min  8.533333

                                                                         Info
                                                                          sum
Genre
Action, Adventure           Votes: 1,491,281 | Gross: $448.14MVotes: 870,5...
Action, Adventure, Comedy   Votes: 50,530Votes: 79,467 | Gross: $1.03MVote...
Action, Adventure, Drama    Votes: 1,614,369 | Gross: $377.85MVotes: 1,630...
Action, Adventure, Fantasy  Votes: 1,139,296 | Gross: $290.48MVotes: 1,211...
Action, Adventure, Sci-Fi   Votes: 2,022,655 | Gross: $292.58MVotes: 806,9...
...                                                                       ...
Horror, Sci-Fi                                Votes: 774,503 | Gross: $78.90M
Mystery, Romance, Thriller                     Votes: 356,579 | Gross: $3.20M
Mystery, Sci-Fi, Thriller   Votes: 571,158 | Gross: $57.14MVotes: 571,158 ...
Mystery, Thriller           Votes: 1,107,298 | Gross: $25.54MVotes: 435,96...
Western                     Votes: 677,184 | Gross: $6.10MVotes: 297,767 |...

[130 rows x 4 columns]

In [106]:

# df.groupby("Genre").agg(["max" , "min" ])

In [107]:
df

,Unnamed: 0,Title,Certificate,Duration,Genre,Rate,Metascore,Description,Cast,Info
0,0,1. The Shawshank Redemption (1994),R,142 min,Drama,9.3,80.0,Two imprisoned men bond over a number of years...,"Director: Frank Darabont | Stars: Tim Robbins,...","Votes: 2,295,987 | Gross: $28.34M"
1,1,2. The Godfather (1972),R,175 min,"Crime, Drama",9.2,100.0,The aging patriarch of an organized crime dyna...,Director: Francis Ford Coppola | Stars: Marlon...,"Votes: 1,584,782 | Gross: $134.97M"
2,2,3. The Dark Knight (2008),PG-13,152 min,"Action, Crime, Drama",9.0,84.0,When the menace known as the Joker wreaks havo...,Director: Christopher Nolan | Stars: Christian...,"Votes: 2,260,649 | Gross: $534.86M"
3,3,4. The Godfather: Part II (1974),R,202 min,"Crime, Drama",9.0,90.0,The early life and career of Vito Corleone in ...,Director: Francis Ford Coppola | Stars: Al Pac...,"Votes: 1,107,253 | Gross: $57.30M"
4,4,5. The Lord of the Rings: The Return of the Ki...,PG-13,201 min,"Action, Adventure, Drama",8.9,94.0,Gandalf and Aragorn lead the World of Men agai...,"Director: Peter Jackson | Stars: Elijah Wood, ...","Votes: 1,614,369 | Gross: $377.85M"
...,...,...,...,...,...,...,...,...,...,...
995,995,398. Scent of a Woman (1992),R,156 min,Drama,8.0,NaN,A prep school student needing money agrees to ...,"Director: Martin Brest | Stars: Al Pacino, Chr...","Votes: 256,515 | Gross: $63.90M"
996,996,399. Aladdin (1992),G,90 min,"Animation, Adventure, Comedy",8.0,86.0,A kindhearted street urchin and a power-hungry...,"Directors: Ron Clements, John Musker | Stars: ...","Votes: 367,489 | Gross: $217.35M"
997,997,400. JFK (1991),R,189 min,"Drama, History, Thriller",8.0,72.0,New Orleans District Attorney Jim Garrison dis...,"Director: Oliver Stone | Stars: Kevin Costner,...","Votes: 139,634 | Gross: $70.41M"
998,998,301. Nights of Cabiria (1957),Not Rated,110 min,Drama,8.1,NaN,A waifish prostitute wanders the streets of Ro...,Director: Federico Fellini | Stars: Giulietta ...,"Votes: 42,160 | Gross: $0.75M"
999,999,302. Throne of Blood (1957),Not Rated,110 min,"Drama, History",8.1,NaN,"A war-hardened general, egged on by his ambiti...",Director: Akira Kurosawa | Stars: Toshir√¥ Mifu...,"Votes: 45,579"

In [108]:
def rank_movie(grp):
    grp["Rank"] = grp["Rate"].rank(ascending=False)
    return grp

In [109]:
df.groupby("Genre").apply(rank_movie)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4272\2596158729.py:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Genre").apply(rank_movie)

                               Unnamed: 0  \
Genre
Action, Adventure         62           62
                          71           71
                          153         153
                          166         166
Action, Adventure, Comedy 173         173
...                                   ...
Mystery, Thriller         144         144
                          215         215
Western                   12           12
                          48           48
                          115         115

                                                                        Title  \
Genre
Action, Adventure         62                 63. The Dark Knight Rises (2012)
                          71               72. Raiders of the Lost Ark (1981)
                          153                       154. Batman Begins (2005)
                          166  167. Indiana Jones and the Last Crusade (1989)
Action, Adventure, Comedy 173                              174. Sholay (1975)
...                                                                       ...
Mystery, Thriller         144                      145. Shutter Island (2010)
                          215                             218. Kahaani (2012)
Western                   12        13. The Good, the Bad and the Ugly (1966)
                          48          49. Once Upon a Time in the West (1968)
                          115              116. For a Few Dollars More (1965)

                              Certificate Duration                      Genre  \
Genre
Action, Adventure         62        PG-13  164 min          Action, Adventure
                          71           PG  115 min          Action, Adventure
                          153       PG-13  140 min          Action, Adventure
                          166       PG-13  127 min          Action, Adventure
Action, Adventure, Comedy 173   Not Rated  162 min  Action, Adventure, Comedy
...                                   ...      ...                        ...
Mystery, Thriller         144           R  138 min          Mystery, Thriller
                          215   Not Rated  122 min          Mystery, Thriller
Western                   12            R  178 min                    Western
                          48        PG-13  165 min                    Western
                          115           R  132 min                    Western

                               Rate  Metascore  \
Genre
Action, Adventure         62    8.4       78.0
                          71    8.4       85.0
                          153   8.2       70.0
                          166   8.2       65.0
Action, Adventure, Comedy 173   8.2        NaN
...                             ...        ...
Mystery, Thriller         144   8.2       63.0
                          215   8.1        NaN
Western                   12    8.8       90.0
                          48    8.5       80.0
                          115   8.3       74.0

                                                                     Description  \
Genre
Action, Adventure         62   Eight years after the Joker's reign of anarchy...
                          71   In 1936, archaeologist and adventurer Indiana ...
                          153  After training with his mentor, Batman begins ...
                          166  In 1938, after his father Professor Henry Jone...
Action, Adventure, Comedy 173  After his family is murdered by a notorious an...
...                                                                          ...
Mystery, Thriller         144  In 1954, a U.S. Marshal investigates the disap...
                          215  A pregnant woman's search for her missing husb...
Western                   12   A bounty hunting scam joins two men in an unea...
                          48   A mysterious stranger with a harmonica joins f...
                          115  Two bounty hunters with the same intentions te...

                                                                            Cast  \
Genre
Action, Adventure         62   Director: Christopher Nolan | Stars: Christian...
                          71   Director: Steven Spielberg | Stars: Harrison F...
                          153  Director: Christopher Nolan | Stars: Christian...
                          166  Director: Steven Spielberg | Stars: Harrison F...
Action, Adventure, Comedy 173  Director: Ramesh Sippy | Stars: Sanjeev Kumar,...
...                                                                          ...
Mystery, Thriller         144  Director: Martin Scorsese | Stars: Leonardo Di...
                          215  Director: Sujoy Ghosh | Stars: Vidya Balan, Pa...
Western                   12   Director: Sergio Leone | Stars: Clint Eastwood...
                          48   Director: Sergio Leone | Stars: Henry Fonda, C...
                          115  Director: Sergio Leone | Stars: Clint Eastwood...

                                                             Info  Rank
Genre
Action, Adventure         62   Votes: 1,491,281 | Gross: $448.14M   1.5
                          71     Votes: 870,596 | Gross: $248.16M   1.5
                          153  Votes: 1,287,216 | Gross: $206.85M   3.5
                          166    Votes: 681,051 | Gross: $197.17M   3.5
Action, Adventure, Comedy 173                       Votes: 50,530   1.0
...                                                           ...   ...
Mystery, Thriller         144  Votes: 1,105,456 | Gross: $128.01M   3.0
                          215       Votes: 56,842 | Gross: $1.04M   4.0
Western                   12       Votes: 677,184 | Gross: $6.10M   1.0
                          48       Votes: 297,767 | Gross: $5.32M   2.0
                          115     Votes: 228,305 | Gross: $15.00M   3.0

[1000 rows x 11 columns]

In [129]:
duo = df.groupby(["Metascore","Duration"])
duo.size()
duo.get_group((61.0, "140 min"))

Metascore  Duration
61.0       140 min     7
           189 min     1
62.0       119 min     1
           132 min     1
           146 min     7
                      ..
100.0      175 min     1
           188 min     1
           228 min     1
           96 min      1
           99 min      1
Length: 277, dtype: int64

In [130]:
# ACTor Genere combo

In [131]:
# All Balls thrown in ipl dataset can b done using groupny

In [132]:
ball = pd.read_csv('ball_by_ball_ipl.csv')

In [133]:
ball.shape

(239693, 35)

In [139]:
ball.groupby("Batter")["Runs From Ball"].sum().sort_values(ascending=False).head(10)

Batter
V Kohli           7384
S Dhawan          6914
DA Warner         6628
RG Sharma         6385
SK Raina          5754
MS Dhoni          5334
RV Uthappa        5233
CH Gayle          5203
AB de Villiers    5162
KD Karthik        4600
Name: Runs From Ball, dtype: int64

In [140]:


ball.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [142]:
ball[ball["Runs From Ball"] == 6]

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
10,10,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,2,5,DP Conway,...,Chennai Super Kings,0,7,7,4,7,NaN,NaN,6,1
17,17,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,3,6,RD Gaikwad,...,Chennai Super Kings,0,14,8,10,8,NaN,NaN,6,1
22,22,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,4,5,DP Conway,...,Chennai Super Kings,0,16,14,13,10,NaN,NaN,6,1
33,33,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,6,4,RD Gaikwad,...,Chennai Super Kings,0,21,36,12,22,NaN,NaN,6,1
41,41,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,7,6,RD Gaikwad,...,Chennai Super Kings,0,35,37,19,23,NaN,NaN,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239604,239604,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,6,4,AD Hales,...,Sunrisers Hyderabad,1,34,18,19,16,NaN,NaN,6,1
239606,239606,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,6,6,AD Hales,...,Sunrisers Hyderabad,1,40,18,21,16,NaN,NaN,6,1
239667,239667,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,16,5,KS Williamson,...,Sunrisers Hyderabad,1,23,17,22,14,NaN,NaN,6,1
239681,239681,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,19,1,YK Pathan,...,Sunrisers Hyderabad,1,8,30,4,28,NaN,NaN,6,1
239689,239689,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,20,2,YK Pathan,...,Sunrisers Hyderabad,1,22,31,10,29,NaN,NaN,6,1

In [152]:
ball[ball["Runs From Ball"] == 6].groupby("Batter")["Batter"].count().sort_values(ascending=False).head(10)

Batter
CH Gayle          343
RG Sharma         254
AB de Villiers    242
MS Dhoni          236
V Kohli           229
DA Warner         221
KA Pollard        210
SK Raina          201
SR Watson         188
AD Russell        186
Name: Batter, dtype: int64

In [165]:
ball.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')

In [170]:
last = ball[ball["Over"] > 15]

last[( last["Runs From Ball"] == 6 )| (last["Runs From Ball"]== 4)]

,Unnamed: 0,Match ID,Date,Venue,Bat First,Bat Second,Innings,Over,Ball,Batter,...,Winner,Chased Successfully,Total Batter Runs,Total Non Striker Runs,Batter Balls Faced,Non Striker Balls Faced,Player Out Runs,Player Out Balls Faced,Bowler Runs Conceded,Valid Ball
91,91,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,16,2,S Dube,...,Chennai Super Kings,0,38,37,13,19,NaN,NaN,6,1
97,97,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,17,2,AM Rahane,...,Chennai Super Kings,0,44,41,21,17,NaN,NaN,6,1
103,103,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,17,6,AM Rahane,...,Chennai Super Kings,0,51,42,25,18,NaN,NaN,4,1
105,105,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,18,2,S Dube,...,Chennai Super Kings,0,50,51,20,25,NaN,NaN,6,1
109,109,1359507,2023-04-23,Eden Gardens,Chennai Super Kings,Kolkata Knight Riders,1,18,6,AM Rahane,...,Chennai Super Kings,0,55,1,26,2,NaN,NaN,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239667,239667,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,16,5,KS Williamson,...,Sunrisers Hyderabad,1,23,17,22,14,NaN,NaN,6,1
239681,239681,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,19,1,YK Pathan,...,Sunrisers Hyderabad,1,8,30,4,28,NaN,NaN,6,1
239683,239683,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,19,3,YK Pathan,...,Sunrisers Hyderabad,1,12,30,6,28,NaN,NaN,4,1
239689,239689,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,20,2,YK Pathan,...,Sunrisers Hyderabad,1,22,31,10,29,NaN,NaN,6,1
239690,239690,1136596,2018-05-05,Rajiv Gandhi International Stadium,Delhi Daredevils,Sunrisers Hyderabad,2,20,3,YK Pathan,...,Sunrisers Hyderabad,1,26,31,11,29,NaN,NaN,4,1

In [173]:
last.groupby("Batter")["Batter"].count().sort_values(ascending=False).head(10)

Batter
MS Dhoni          1876
KA Pollard        1229
RA Jadeja         1085
KD Karthik         987
RG Sharma          851
AB de Villiers     849
V Kohli            756
HH Pandya          751
YK Pathan          732
AT Rayudu          725
Name: Batter, dtype: int64

In [197]:
filter1 = ball[ball["Batter"] == "KL Rahul"]
filter1.groupby("Wicket")["Runs From Ball"].sum().reset_index()

   Wicket  Runs From Ball
0       0            4215
1       1               0

In [190]:
ball.columns

Index(['Unnamed: 0', 'Match ID', 'Date', 'Venue', 'Bat First', 'Bat Second',
       'Innings', 'Over', 'Ball', 'Batter', 'Non Striker', 'Bowler',
       'Batter Runs', 'Extra Runs', 'Runs From Ball', 'Ball Rebowled',
       'Extra Type', 'Wicket', 'Method', 'Player Out', 'Innings Runs',
       'Innings Wickets', 'Target Score', 'Runs to Get', 'Balls Remaining',
       'Winner', 'Chased Successfully', 'Total Batter Runs',
       'Total Non Striker Runs', 'Batter Balls Faced',
       'Non Striker Balls Faced', 'Player Out Runs', 'Player Out Balls Faced',
       'Bowler Runs Conceded', 'Valid Ball'],
      dtype='object')